PORT=
URI_MONGODB=

# Credenciales de Cloudinary (pedir al equipo, no usar valores reales aquí)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Configuración de JWT (debe coincidir con el Auth Service)
JWT_SECRET=
JWT_EXPIRES_IN=1h
JWT_ISSUER=AuthService
JWT_AUDIENCE=

# Para que funcione en Kinal
NODE_TLS_REJECT_UNAUTHORIZED=0

# Stripe (test mode keys)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLIENT_CUSTOMER_URL=