auth-service/src/AuthService.Api/bin
auth-service/src/AuthService.Api/obj
auth-service/src/AuthService.Application/bin
auth-service/src/AuthService.Application/obj
auth-service/src/AuthService.Domain/bin
auth-service/src/AuthService.Domain/obj
auth-service/src/AuthService.Persistence/bin
auth-service/src/AuthService.Persistence/obj
auth-service/src/AuthService.Api/logs
auth-service/src/AuthService.Api/keys
